.main {    
    -fx-background-image: url("/image/menu_bg.jpg");
    -fx-background-position: center center;
    width: 100%;
    height: 100%;
}

.history {    
    -fx-background-image: url("/image/history_bg.jpg");
    -fx-background-position: center center;
}

.rules {    
    -fx-background-image: url("/image/rules_bg.jpg");
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.button{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:hover{
    -fx-background-color: rgba(0,0,180,0.7);
}

#exitButton{
    -fx-alignment: center;
}